<div class="container text-bg-secondary ">
    <h1 class="display-4">Contact</h1>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quasi blanditiis explicabo dolore dolorum inventore
    possimus expedita, reiciendis nam.
    Cupiditate quam obcaecati sequi adipisci quasi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
    quasi blanditiis explicabo dolore dolorum inventore possimus expedita, reiciendis nam.
    Cupiditate quam obcaecati sequi adipisci quasi?
    </p>
    <div class="row">
        <div class="col-md-6">
            <app-card></app-card>
        </div>
        <!-- <div class="col-md-6">
            <app-card2></app-card2>
        </div> -->
    </div>
</div>