<div class="container text-bg-info p-4">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/about">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/buy-products">Buy Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/exercise">Exercise</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>